body, td, th, p, li, dd, dt, ul, dl, ol {
	font-family: Arial, Helvetica, sans-serif;
	/*font-size: 10pt;*/
}

strong {
	font-size: 14pt;
	font-weight: bold;
}


small {
	font-size: 8pt;
}

h1 {
	font-size: 14pt;
	font-weight: bold;
	margin-bottom: 5px;
}

h2 {
	font-size: 13pt;
	font-weight: bold;
	margin-bottom: 5px;
}

h3 {
	font-size: 12pt;
	font-weight: bold;
	margin-bottom: 5px;
}


@font-face {
  font-family:'seroundedregular';
  src:url('../../Art/fonts/serounded-lig-webfont-webfont.eot');
  src:url('../../Art/fonts/serounded-lig-webfont-webfont.eot?#iefix') format('embedded-opentype'),
  url('../../Art/fonts/serounded-lig-webfont-webfont.woff2') format('woff2'),
  url('../../Art/fonts/serounded-lig-webfont-webfont.woff') format('woff'),
  url('../../Art/fonts/serounded-lig-webfont-webfont.ttf') format('truetype'),
  url('../../Art/fonts/serounded-lig-webfont-webfont.svg#se_roundedlight') format('svg');
  font-weight:normal;
  font-style:normal;
}
@font-face {
  font-family:'seroundedmedium';
  src:url('../../Art/fonts/serounded-med-webfont-webfont.eot');
  src:url('../../Art/fonts/serounded-med-webfont-webfont.eot?#iefix') format('embedded-opentype'),
  url('../../Art/fonts/serounded-med-webfont-webfont.woff2') format('woff2'),
  url('../../Art/fonts/serounded-med-webfont-webfont.woff') format('woff'),
  url('../../Art/fonts/serounded-med-webfont-webfont.ttf') format('truetype'),
  url('../../Art/fonts/serounded-med-webfont-webfont.svg#se_roundedmedium') format('svg');
  font-weight:normal;
  font-style:normal;
}
@font-face {
  font-family:'seroundedbold';
  src:url('../../Art/fonts/serounded-bol-webfont-webfont.eot');
  src:url('../../Art/fonts/serounded-bol-webfont-webfont.eot?#iefix') format('embedded-opentype'),
  url('../../Art/fonts/serounded-bol-webfont-webfont.woff2') format('woff2'),
  url('../../Art/fonts/serounded-bol-webfont-webfont.woff') format('woff'),
  url('../../Art/fonts/serounded-bol-webfont-webfont.ttf') format('truetype'),
  url('../../Art/fonts/serounded-bol-webfont-webfont.svg#se_roundedbold') format('svg');
  font-weight:normal;
  font-style:normal;
}
@font-face {
  font-family:'seroundedregularitalic';
  src:url('../../Art/fonts/serounded-ligit-webfont-webfont.eot');
  src:url('../../Art/fonts/serounded-ligit-webfont-webfont.eot?#iefix') format('embedded-opentype'),
  url('../../Art/fonts/serounded-ligit-webfont-webfont.woff2') format('woff2'),
  url('../../Art/fonts/serounded-ligit-webfont-webfont.woff') format('woff'),
  url('../../Art/fonts/serounded-ligit-webfont-webfont.ttf') format('truetype'),
  url('../../Art/fonts/serounded-ligit-webfont-webfont.svg#se_roundedlight_italic') format('svg');
  font-weight:normal;
  font-style:normal;
}
@font-face {
  font-family:'seroundedmediumitalic';
  src:url('../../Art/fonts/serounded-medit-webfont-webfont.eot');
  src:url('../../Art/fonts/serounded-medit-webfont-webfont.eot?#iefix') format('embedded-opentype'),
  url('../../Art/fonts/serounded-medit-webfont-webfont.woff2') format('woff2'),
  url('../../Art/fonts/serounded-medit-webfont-webfont.woff') format('woff'),
  url('../../Art/fonts/serounded-medit-webfont-webfont.ttf') format('truetype'),
  url('../../Art/fonts/serounded-medit-webfont-webfont.svg#se_roundedmedium_italic') format('svg');
  font-weight:normal;
  font-style:normal;
}
@font-face {
  font-family:'seroundedbolditalic';
  src:url('../../Art/fonts/serounded-bolit-webfont-webfont.eot');
  src:url('../../Art/fonts/serounded-bolit-webfont-webfont.eot?#iefix') format('embedded-opentype'),
  url('../../Art/fonts/serounded-bolit-webfont-webfont.woff2') format('woff2'),
  url('../../Art/fonts/serounded-bolit-webfont-webfont.woff') format('woff'),
  url('../../Art/fonts/serounded-bolit-webfont-webfont.ttf') format('truetype'),
  url('../../Art/fonts/serounded-bolit-webfont-webfont.svg#se_roundedbold_italic') format('svg');
  font-weight:normal;
  font-style:normal;
}


@font-face {
  font-family:'FontAwesome';
  src: url('../../Art/fonts/fontawesome-webfont.eot?v=4.2.0');
  src: url('../../Art/fonts/fontawesome-webfont.eot?#iefix&v=4.2.0') format('embedded-opentype'), url('../../Art/fonts/fontawesome-webfont.woff?v=4.2.0') format('woff'), url('../../Art/fonts/fontawesome-webfont.ttf?v=4.2.0') format('truetype'), url('../../Art/fonts/fontawesome-webfont.svg?v=4.2.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

 code,
 kbd,
 pre,
 samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

pre {
	line-height: 1;
  font-family: monospace, monospace !important;

}

#priceforcast pre {
	padding:2em 0;
}


.DialogBox {
	border: 1px solid #000000;
	background-color: #e6e7e7;
}

.DataTable {
	background-color: #e6e7e7;
	border-collapse: collapse;
	empty-cells: show;

}

.DataTable td, .DataTable th {
	border: 1px solid #666666;
	padding: 1px 2px 1px 2px;

}

/*.DataTable th, .rowHeaderDataTable td {
	text-align: center;
	font-weight: bold;
	background-color: #cccccc;
}*/

.DataTable .rowFooter td {
		background-color: #cccccc;
}

.DataTableNoBorder {
	border: 0px solid #000000;
	background-color: #e6e7e7;
	border-collapse: collapse;
	empty-cells: show;
}

.DataTableNoBorder td, .DataTableNoBorder th {
	border: 0px solid #666666;
	padding: 1px 2px 1px 2px;
}

.DataTableNoBorder th, .rowHeaderDataTableNoBorder td {
	text-align: left;
	font-weight: bold;
	background-color: #cccccc;
}

.DataTableNoBorder .rowFooter td {
		background-color: #cccccc;
}

.cellDailyMax {
	background-color: #cccccc;
}

.cellDateRangeMax {
	background-color: #cccccc;
}

.rowDateChange td {
	border-bottom: 2px solid #000000;
}

.cellLineLabel {
	background-color: #cccccc;
}

/* Used for boxes displaying name/value pairs */
.NameValueList {
	border: 1px solid #000000;
		background-color: #e6e7e7;
}

.NameValueList td {
	padding: 1px 2px 1px 2px;
	margin: 0px;
}

.NameValueList NameItem {
	text-align: right;
	font-weight: bold;
}

.NameValueList ValueItem {
}

.DialogTable{
	background-color: #e6e7e7;
	border-collapse: collapse;
	border: 1px solid #000000;
	font-size: 8pt;
}

.DialogTable td {
	padding: 2px;
}

.DialogTable .title {
	font-size: 10pt;
}

.menulinks {
	font-family: verdana, arial,  helvetica;
	font-size: 8pt;
	color: #e7a608;
}
.menulinks a:link, .menulinks a:visited, .menulinks a:active {
	text-decoration: none;
	color: #666666;
}
.menulinks a:hover {
	text-decoration: none;
	color: #cc0000;
}

/* Styles for left menu */
.menuButtons {
	border-collapse: collapse;
	width: 100%;
}
.menuButton {
	font-family: verdana,arial,helvetica,sand-serif;
	font-size: 7pt;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	padding: 0px;
}
.menuButton .menuButtonLink, .menuButton .menuButtonGreyed {
	display: block;
	width: 100%;
	padding: 4px 0px 4px 0px;
	text-decoration: none;
}
.menuButton .menuButtonLink:link, .menuButton .menuButtonLink:visited, .menuButton .menuButtonLink:active {
	color: #444444;
}
.menuButton .menuButtonLink:hover {
	color: #000000;
	background-color: #e6e7e7;
}
.menuButton .menuButtonGreyed {
	color: #000000;
	font-weight: bold;
}
/* End of styles for left menu */

/* Styles for tabbed menu */
	.tab, .tabActive {
		position: relative;
		top: -3px;
		padding:2px 6px 4px 6px;
		border: 1px solid #000000;
		border-bottom-width: 0px;
		text-decoration: none;
		font-size: 8pt;
	}
	.tab {
		z-index: 10;
		color: #000000;
		background-color: #e7e7e7;
		background-image: url(../../art/en/tab_bg.gif);
	}
	.tab:hover {
		color: #000000;
		cursor: pointer;
		background-color: #c3dcea;
		background-image: url(../../art/en/tab_hover_bg.gif);
		z-index: 10;
	}
	.tabActive {
		z-index: 12;
		color: #000000;
		background-color: #ffffff;
	}
	.tabContent {
		z-index: 11;
		border-top: 1px solid #000000;
		position: relative;
	}
/* End styles for tabbed menu */

.TitleBand {
	background-color: gray;
	padding: 0px;
	border-top: 1px solid black;
}
.PageTitle {
	font: bold 18px Arial,sans-serif;
	color: white;
	margin: 2px 4px 2px 4px;
}

.ButtonStyle {
	font-family: arial, sans-serif;
	font-size: 13px;
	font-weight:bold;
	letter-spacing: -1px;
	border: 1px solid #8c8a8c;
	background-image: url(../../art/en/gradient.jpg);
	background-repeat: repeat-x;
	width: 70px;
	height: 22px;
	padding-bottom: 3px;
	cursor: pointer;
	cursor:hand;
}

.PopUp
{
	float: right;
	border: solid 1px #CCCCCC; 
	background-color: #FFFFFF; 
	padding: 5px;	
	width: 250px;
	z-index: 2; 
	position: absolute;
}


.DisabledButtonStyle {
	font-family: arial, sans-serif;
	font-size: 13px;
	font-weight:bold;
	letter-spacing: -1px;
	border: 1px solid #8c8a8c;
	background-image: url(../../art/en/gradient.jpg);
	background-repeat: repeat-x;
	width: 70px;
	height: 22px;
	padding-bottom: 3px;
	cursor: default;
}

/*Created for big button used in Summary Report*/
.BigButtonStyle {
	font-family: arial, sans-serif;
	font-size: 13px;
	letter-spacing: -1px;
	border: 1px solid #8c8a8c;
	background-image: url(../../art/en/gradient.jpg);
	background-repeat: repeat-x;
	width: 175px;
	height: 25px;
	padding-bottom: 3px;
	cursor: pointer;
}

/*Created for medium button used in Summary Report*/
.MediumButtonStyle {
	font-family: arial, sans-serif;
	font-size: 13px;
	letter-spacing: -1px;
	border: 1px solid #8c8a8c;
	background-image: url(../../art/en/gradient.jpg);
	background-repeat: repeat-x;
	width: 100px;
	height: 22px;
	padding-bottom: 3px;
	cursor: pointer;
}

/*Created for small button used in Summary Report*/
.SmallButtonStyle {
	font-family: arial, sans-serif;
	font-size: 13px;
	letter-spacing: -1px;
	border: 1px solid #8c8a8c;
	background-image: url(../../art/en/gradient.jpg);
	background-repeat: repeat-x;
	width: 45px;
	height: 22px;
	padding-bottom: 3px;
	cursor: pointer;
}

.RadioButton 
{
	cursor: default;
}

.RadioButton:hover 
{
	color: #000000;
}

.CompScenarioItem 
{
	margin-left: -1px;
	display: inline;
	float: left;
	margin-top: 3px;
}

.BillEstCol1 
{
	width: 180px;
	display: inline;
	float: left;
	margin-top: 3px;
}

.DefaultScenarioItem 
{
	margin-left: -1px;
	display: inline;
	float: left;
}

.EITable
{
	display: table;
	border: 1px solid #000000;
	border-collapse: collapse;
	background-color: #e6e7e7;
	empty-cells: show;
}

.Row
{
	display: table-row;
}

.FirstRow 
{
	display: table-row;
	height: 72px;
	*height: 78px;
}

.Col1Cell
{
	display: table-cell;
	border: 1px solid #000000;
	background-color: #e6e7e7;
	padding: 3px;
	width: 140px;
	vertical-align: top;
}

.Col2Cell
{
	display: table-cell;
	border: 1px solid #000000;
	background-color: #e6e7e7;
	padding: 3px;
	width: 200px;
	vertical-align: top;	
}

.Cell
{
	display: table-cell;
	border: 1px solid #000000;
	background-color: #e6e7e7;
	padding: 3px;
	vertical-align: top;
}

.HeaderRow
{
	display: table-row;
	text-align: left;
	font-weight: bold;
}

.FooterRow
{
	display: table-row;
	text-align: left;
	font-weight: bold;
}

.HeaderCell
{
	display: table-cell;
	border: 1px solid #000000;
	background-color: #cccccc;
	padding: 3px;
}

.FooterCell
{
	display: table-cell;
	border: 1px solid #000000;
	background-color: #cccccc;
	padding: 3px;
}

.NoBorder {
	border-width: 0px;
}


.EITableNoBorder
{   
	display: table;
	border-collapse: collapse;
	border-width: 0px;
}

.RowNoBorder
{
	display: table-row;
	border-width: 0px;
	background-color: White;
}

.CellNoBoder
{
	display: table-cell;
	border-width: 0px;
	background-color: White;
}

div.movable
{
	cursor: move;
	width: 100%;
	height: 100%;
}

a.subtlelink 
{
	color: #666666;
	text-decoration: underline;
	cursor: pointer;
}


.EmissionsTD1
{
	font-size: 10pt;
    white-space: nowrap;
	width: 20%;
	text-align: right;
}
.EmissionsTD2
{
    font-size: 10pt;
    white-space: nowrap;
	width: 80%;
	text-align: left;
}

.EmissionsTable 
{
	width: 100%;
	border-collapse: collapse;
    empty-cells: show;
    border: solid 1px black;
}

.EmissionTitle1 
{
	background-color: #cccccc;
	font-weight: bold;
	border: solid 0px white;
	padding-left: 3px;
}

.EmissionTitle2
{
	font-size: 10pt;
	background-color: #dfdfdf;
	font-weight: bold;
	margin-left: 1px;
	margin-right: 1px;
}

.EmissionTitle2:td 
{
	font-size: 10pt;
}

.EnergyTargetRow
{
	background-color: #dbdbd9;
	font-weight: normal;
	padding-left: 3px;
}

.ButtonSmall {
	font-family: arial, sans-serif;
	font-size: 12px;
	letter-spacing: -1px;
	border: 1px solid #8c8a8c;
	background-image: url(../../art/en/gradient.jpg);
	background-repeat: repeat-x;
	width: 40px;
	height: 17px;
	padding-bottom: 3px;
	cursor: pointer;
}

.AccountsTable{
	background-color: #cccccc;
    border-top: 1px solid #000000;
    border-left: 1px solid #000000;
    border-right: 1px solid #000000;
	font-size: 8pt;
}

.AddSpecialDayTable{
	background-color: #e6e7e7;
	border-collapse: collapse;
	border: 1px solid #000000;
	font-size: 8pt;
	margin-bottom:12px;
	margin-top:12px;
	margin-left:4px;   
}


.ScrollableTable {
	border: 1px solid #636563;
	background-color: #e6e7e7;
	color: black;
	table-layout: fixed;
	border-collapse: collapse;
	border-spacing: 0px;
}

.ScrollableTable th {
	border: 1px solid #636563;
	background-color: #cccccc;
	text-align: center;
	font-weight: bold;
}

.ScrollableTable td {
	border: 1px solid #636563;
	padding: 1px 2px 1px 2px;
}

.ScrollableTBody {
	overflow: auto;
	overflow-y: auto;
	overflow-x: hidden;
	border-bottom: 1px solid #000000;
}

.MozillaScrollableTBodyLeft 
{
	border-left: solid 1px #636563;
}

.WarningsDiv {
	border: 1px solid #000000;
	background-color: White;
	padding: 1px 2px 1px 2px;
	vertical-align: top; 
	overflow: auto; 
	height: 100px;	
}
.DateRangerDataTable 
{
    border-width:0px 0px 0px 0px;
    background-color: #e6e7e7;
    border: solid #000000;
    border-collapse: collapse;
	empty-cells: show; 
}

.DateRangerDataTable td, .DateRangerDataTable th {
	border: #666666;
	border-width:0px 0px 1px 0px;
	padding: 1px 2px 1px 2px;

}

.ProgressPopUP{ /*border for the progress popup*/
    border: 5px solid #66bf83;  
    background-color: #ebecec;              
}

#DashboardDiv {
	left:12px;
	width:725px;
	height:185px;
	z-index:1;
	margin-top: 0px;
}

.emptyPlaceMarker
{
	z-index: 2;
	border-right: red thin dashed;
	border-top: red thin dashed;
	border-left: red thin dashed;
	border-bottom: red thin dashed;
	background-color: Transparent;
}

.box {
	margin: 5px 5px 5px 5px;
	overflow: hidden;
	position: relative;
	float: left;
	width: 300px;
	padding: 0;
	text-align: left;
}

.tlc {
	background:transparent url(../../art/en/tlc.gif) no-repeat 0px 0px;
	height: 33px;
	margin: 0px;
	padding: 0px;
}
.tt {
	background:transparent url(../../art/en/tb.gif) repeat-x 0px 0px;
	padding: 0px;
}
.trc {
	background:transparent url(../../art/en/trc.gif) no-repeat 0px 0px;
	width: 20px;
	height: 33px;
	margin: 0px;
	padding: 0px;
}
.bl {
	background:transparent url(../../art/en/l.gif) repeat-y 0px 0px;
	margin: 0px;
	padding: 0px;
}
.br {
	background:transparent url(../../art/en/r.gif) repeat-y 0px 0px;
	margin: 0px;
	padding: 0px;
}
.blc {
	background:transparent url(../../art/en/blc.gif) no-repeat 0px 0px;
	height: 16px;
	margin: 0px;
	padding: 0px;
}
.b {
	background:transparent url(../../art/en/bb.gif) repeat-x 0px 0px;
	margin: 0px;
	padding: 0px;
}
.brc {
	background:transparent url(../../art/en/brc.gif) no-repeat 0px 0px;
	width: 20px;
	height: 16px;
	margin: 0px;
	padding: 0px;
}

.tracker
    {
    background-image:url(../../art/en/scaler_slider_track.gif);
    background-position:left center;
    background-repeat:repeat-x;
    height:18px;
    width:200px;
    }
   
.smallReport
{
    background-color: green;
    position: relative; 
    float: left; 
    width: 125px; 
    height: 70px; 
    margin: 5px 5px 0px 5px;
    text-align: center;
    color: White;
    font-weight: bold;
}

.bigReport 
{
    background-color: gray;
    position: relative; 
    float: left; 
    width: 287px; 
    height: 70px; 
    margin: 5px 5px 0px 5px;
    text-align: center;
    color: White;
    font-weight: bold;
}
    
.roundedcornr_top div {
   background: url(../../art/en/topLeft.gif) no-repeat top left;
}
.roundedcornr_top {
   background: transparent url(../../art/en/topRight.gif) no-repeat top right;
}
.roundedcornr_bottom div {
   background: url(../../art/en/BottomLeft.gif) no-repeat bottom left;
}
.roundedcornr_bottom {
   background: transparent url(../../art/en/bottomRight.gif) no-repeat bottom right;
}

.roundedcornr_top div, .roundedcornr_top,
.roundedcornr_bottom div, .roundedcornr_bottom {
   width: 100%;
   height: 12px;
   font-size: 1px;
}
.roundedcornr_content { height: 46px; }

a.info{
	position:relative; /*this is the key*/
	z-index:24;
}

a.info:hover{z-index:25;}

a.info div{display: none}

a.info:hover div{ /*the span will display just on :hover state*/
	display:block;
	position:absolute;
	top: 18px;
	border:1px solid gray;
	text-align: center;
	background-color: White;
    color: Black;
    text-decoration: none;
}
    
@media print {
    .hideMyLink {
        display: none;
    }

    a {
        text-decoration: none; 
        color: #000000;
    }
}



.td1{
color: gray;
}

        
/*******************************************/
/*               MyDashboard               */
/*******************************************/
.containerList {
    border:1px solid brown;
    
    width:100%;
   
}

.lidash { 
	/*position:relative;*/
	border: 0px solid blue;
	margin-top: 8px;
	list-style-type:none;
	width:100%;
}
.lidashmini { 
	/*position:relative;*/
	border: 0px solid blue;
	margin: 0px 0px 0px 0px;
	list-style-type:none;
	width:100%;
	height:76px;
}

div[id*="container"] {
	/*position:relative;*/
	/*width:260px;*/
	width:100%;
	height:500px;
	border: 0px solid gray;
	padding: 1px 1px 3px 1px;
}

div[id*="container"]mini {
    width:100%;
	height:300px;
	border: 0px solid red;
	padding: 1px 1px 3px 1px;
}

.emptyPlaceMarker {
	z-index: 2;
	border:2px #CCCCCC dashed;
	background-color: Transparent;
}

h1 {
	text-align:center;
}

#tool { 
	position:absolute;
	top:5px;
	right:20px;
	border:0px solid black;
}

/* Div Style */

html, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead
{/*, tr, th, td*/
	margin: 0;
	padding: 0;

	outline: 0;
}

ol, ul
{
	list-style: none;
}

body
{
	/*background: #deebf8;*/
	font-family: Georgia, serif;
	font-size: small;
}

h1,h2,h3,h4,h5,h6
{
  font-family: Helvetica, Arial, sans-serif;
}

.rounded_maincol
{
    background-color: #fff;
   	-moz-border-radius: 10px;
   	border: 1px solid #4ABDFE;
}

.rounded_colhead
{
	background-color:#4ABDFE;
    -moz-border-radius: 6px; 
}

#header
{
  margin: 14px 0 10px 0;
}

#blinks
{
  padding: 10px 16px;
  margin-top: 14px;
  color: #444;
}

#blinks ul li
{
  margin-bottom: 1px;
}

#blinks ul .head
{
  font-weight: bold;
  margin: 8px 0;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 110%;
}

#blinks h3
{
  font-size: 125%;
}

#blinks ul a, #blinks ul b.hr
{
  text-decoration: none;
  font-size: 110%;
}

#blinks ul a:hover, #blinks ul b.hr:hover
{
  text-decoration: underline;
}

#footer
{
	clear: both;
	padding: 18px 0 4px 0;
	text-align: center;
}


.post_content, .post_tag, .comments, .navigation
{
    /*padding: 10px 16px 4px 16px;*/
    padding: 6px 2px 2px 2px;
    color: #262626;
}

.post_content
{
    font-size: 110%;
    line-height: 18px;
    margin-top: 4px;
}

.post_content p, .post_content pre, .post_content ul, .post_content ol
{
    margin-bottom: 12px;
}

.post_content ul
{
    list-style: square inside;
}

.post_content ol
{
    list-style: decimal inside;
}

.post_content pre.code
{
    background: #111;
    border: 2px solid #ccc;
    padding: 8px;
    font-size: 115%;
    color: #ddd;
    white-space: pre-wrap;       /* css-3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

.rounded_maincol
{
    padding: 2px; /*Space between title and main border*/
}

.rounded_colhead h1
{
    z-index: 5;
    padding: 10px 0 8px 20px;
    color: white;
    font-size: 135%;
    font-weight: normal;
    cursor:move;
}
/*
.maincol
{
    width: 96%;
}*/


.myBox1 {
    /*margin: 0.5in auto;*/
    color: #000000;
    
    /*width: 250px;*/
    width:96%;
    padding:2px;    
  	background-color:white;
	/*border: 1px solid #4ABDFE;*/
	/*border: 1px solid #009631;*/

}

.myBox1, .myBox1 .sb-inner { background:white; }
.myBox1 .sb-shadow { background:blue; }
.myBox1 .sb-border { background:none; }


.myBox2 {
  /*margin: 0.5in auto;*/
    /*width:251px;*/
    height:30px;
    width:98%;
    /*background-color:#4ABDFE;*/
	background-color:gray;
    z-index: 5;
    padding-top: 5px;
    padding-right: 1%;
    padding-left: 1%;
    color: white;
    font-size: 110%;
    font-weight:bolder;
    cursor:move;
    /*padding-top:3px;
    padding-bottom:3px;*/
    
}

.myBox2, .myBox2 .sb-inner { background:gray; }
.myBox2 .sb-shadow { background:blue; }
.myBox2 .sb-border { background:gray; }

.toggle 
{
    /*position:relative;*/
    width:21px;
    height:21px;
    margin-left:5px;
    border:0px solid black;
    float:left;
    cursor:pointer;
    background-image:url('../images/dashboard/hide.gif');
    background-repeat:no-repeat;
    z-index:59;
}
.title 
{
    border:0px solid black;
    width:80%;
    float:left;
    z-index:59;
	left:1%;
	padding-top: 1px;
}
.view 
{
    float: right;
    cursor:pointer;
	border:0px solid black;
	font-size:11px;
	padding-top: 3px;
}

.close 
{
	float: right;
	width:21px;
	top:0px;
	height:21px;
	margin-right:2px;
    border:0px solid red;
    cursor:pointer;
    background-image:url('../images/dashboard/close.gif');
    background-repeat:no-repeat;
}

/***************************************************/
/*            Widgets Description Carousel        */
/***************************************************/

.carousel-component { 
	position:relative;
	overflow:hidden;
	visibility:visible; /* component turns it on when first item is rendered */
}
				
.carousel-component ul.carousel-list { 
	width:10000000px;
	position:relative;
	z-index:1; 
}

.carousel-component .carousel-list li { 
	float:left;
	list-style:none;
	overflow:hidden;
}

.carousel-component .carousel-vertical li { 
	float:none;
	margin-bottom:0px;
}

.carousel-component ul.carousel-vertical { 
	width:auto;
}

.carousel-component .carousel-clip-region { 
	overflow:hidden;
	margin:0px auto;
	position:relative; 
}

/**
 * Safe to override. It is safe to override background, padding, margin, color,
 * text alignment, fonts, etc. Define a separate CSS file and override your style
 * preferences.
 **/

.carousel-component { 
    background:#3F3F3F;
	padding:0px;
	color:#618cbe;
}
.carousel-component ul.carousel-list { 
	margin:0px;
	padding:0px 0px 0px 0px;
}
.carousel-component .carousel-list li { 
	text-align:center;
	margin:0px 0px 0px 0px;
	padding:0px;
	font:10px verdana,arial,sans-serif;
	color:#666;
}
.carousel-component .carousel-vertical li { 
}
.carousel-component ul.carousel-vertical { 
}

#html-carousel { 
    background:#b8f8b9;
}

#html-carousel .thumb {
    cursor:pointer;

}

#html-carousel .carousel-list li { 
    margin:4px 10px 0px 10px;
}

#html-carousel .carousel-list li { 
    width: 106px; 
    border: 0px solid gray;
    padding: 10px;
    padding-top: 15px;
    margin: 0;
    color: #3F3F3F;
}

#html-carousel .carousel-list li img { 
    border:1px solid #999;
    display:block; 
}

#html-carousel {
    position:relative;
    margin-bottom: 10px;
    width: 380px;
    height: 144px;
    float:left;
}

/* BUTTONS */
#prev-arrow-container { 
    position:relative;
    float:left;
    margin: 0px;
    padding: 0px;
}

#next-arrow-container {
    position:relative;
    float:left;
    margin: 0px;
    padding: 0px;
}

#next-arrow { 
    cursor:pointer; 
}

#prev-arrow { 
    cursor:pointer; 
}

#container-carousel {
    border:0px solid black;
    width:434px;
    height:144px;
}

#container-widget-description {
    border:0px solid black;

}

#description-container {
    border:1px solid #84D784;
}

/*******************************************/
/*               ICL Project               */
/*******************************************/
.widget-container {
    width: 324px;
    height: 226px;
    font-family: arial,sans-serif;
    color: #42b4e6;
}

.widget-title {
	text-align: left;
	font:12px arial,sans-serif;
	color: #4fa600;
	font-weight: bold;
}

.widget-bar-title {
	 text-align: center; 
	 color: white; 
	 font-weight: bold;
	 width: 66px;
}

.InfoWindow  {
	color: Black; 
	width: 324px; 
	height: 226px; 
}

.InfoWindow .sb-border {
	background:#c6c7c6; 
}

.InfoWindow .sb-inner {
	background-color:White; 
}

#SavedTreesDiv, #SavedTreesDiv .sb-inner  {
	background:#ffffff url(../../art/en/trees_saved.png) no-repeat; 
}

#draggableBar{ 
	cursor: s-resize; 
	position:absolute; 
	display:block; 
	background-color: #c0c0c0; 
	margin-top:-2px; 
	height:4px; 
	padding:0; 
	width: 100%; 
	left: 0px;
} 

 #legend {
/*	  margin: 12px 0 12px 12px;
  display: inline-block;
  padding: 5px 15px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  border: 1px solid #008f01;
  background-color: rgb(70,155,0);
  background-image: -moz-linear-gradient( bottom, rgb(70,155,0) 0%, rgb(94,186,0) 100%);
  background-image: -webkit-linear-gradient( bottom, rgb(70,155,0) 0%, rgb(94,186,0) 100%);
  background-image: -ms-linear-gradient( bottom, rgb(70,155,0) 0%, rgb(94,186,0) 100%);
  box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.1);
  font: normal normal 13px 'seroundedmedium';
  color: #fff !important;
    text-decoration: none !important;
  width: auto !important;
  font-size: 10px !important;*/
  bottom: 0 !important;
  top:auto !important;
}
div[id*="container"] #billestimate td  {
padding: 7px 0 7px 0px;
}

* {
	font-family: 'seroundedmedium' !important;
	  border-collapse: collapse;
}
 div[id*="container"] .grid table{
    width: 100%;
    margin: 0 0 20px;
    padding: 10px 0 10px 0;
    border:none;
    background: #ebebeb;
    border-bottom:1px solid #b3b2b7;
  }

 div[id*="container"] .grid table table,
 div[id*="container"] .grid table table table{
    border-bottom: 0;
  }

div[id*="container"] .grid table tbody tr td {
  padding: 7px;
  border: none;
  border-top: 1px solid #b3b2b7;
  font-size: 11px !important;
  text-align:left;
  color:#616469;
}

div[id*="container"] .grid table tbody tr td:first-child {
	padding-left:20px;
	font-family:'seroundedbold' !important;
}

#grid_cmpstats.grid table tbody tr td:first-child{
	width:20%;
}

  div[id*="container"] .grid table tbody td tr td,
  {
    padding: 7px 0 7px 20px !important;
  }

  .grid table table{
    margin: 0;
  }

 div[id*="container"] #cmpstats table table{
    width: 100%;
    margin: 0 0 20px;
    padding: 10px 0 10px 0;
    border:none;
    background: #ebebeb;
    border-bottom:1px solid #b3b2b7;
  }

 div[id*="container"] #cmpstats table table,
 div[id*="container"] #cmpstats table table table{
    border-bottom: 0;
  }

div[id*="container"] #cmpstats table table tbody tr td {
  padding: 7px;
  border: none;
  border:0 !important;
  border-top: 1px solid #b3b2b7 !important;
  font-size: 10px !important;
  text-align:left;
  color:#616469;
  background: #ebebeb;
}

div[id*="container"] #cmpstats table table tbody tr td:first-child {
	width:15%;
	padding-left:20px;
	font-family:'seroundedbold' !important;
}

  div[id*="container"] #cmpstats table tbody td tr td,
  {
    padding: 7px 0 7px 20px !important;
  }

  #cmpstats table table{
    margin: 0;
  }


div[id*="container"] #lblText {
	margin: 0px 0 .5em 0;
  padding: 8px 20px;
  font: normal normal 14px 'seroundedregular' !important;
  font-size: 18px;
  color:#7a7b80;
  float: none;
  text-align: left;
  display: inline-block;
}

div[id*="container"] #lblText br {
	display:none !important;
}

#dtlstats {
	text-align: left;
}

#cmpstats #lblText + .grid + table {
	display: none;
}

div[id*="container"] #lblText b {
	font-weight: normal !important;
}

div[id*="container"] #billestimate {
	padding:1em;
}

div[id*="container"] #billestimate tr:nth-child(even){
	  background: #F0F0F0;
}

.uldash .title small {
	  margin: 7px 0 0 0;
  padding: 8px 12px;
  font: normal normal 18px 'seroundedregular' !important;
  font-weight: bold;
  color: #7a7b80;
}


.uldash .myBox1 .sb-border {
	background: #636469;
}

.myBox2 .sb-inner {
	background: none !important;
}

.uldash .myBox2 {
	background: #d5d5d5 !important;
}
.uldash .myBox2 {
border-bottom: 1px solid #eaeaea;
}

.uldash li > div[class*='myBox'] {
  box-shadow: 0 5px 3px rgba(0,0,0,0.14);
  /* border: solid 3px; */
  border-radius: 5px;
  border: 5px solid #636469;
  background: white !important;
}

.uldash div[class*='myBox']  .sb-border {
	background: none !important;
}

.uldash .view a {
	color: #0167cb !important;
}

.uldash .close {
	background:none !important;
	font-family:'FontAwesome' !important;
	color:#636469;
	  margin-left: .5em;
  font-size: 18px;
  margin-top: 2px;
  height:auto;

}
.uldash .toggle {
	background:none !important;
	font-family:'FontAwesome' !important;
	color:#636469;
  font-size: 18px;
  margin-top: 5px;
  height:auto;
}
.uldash .toggle:before{
  content: "\f147";
}
.uldash .close:before {
  content: "\f057";
}

.prototip {
  box-shadow: 0 0 5px rgba(0,0,0,.5);
}


/*hourly prices table styles*/

.hourlyPrices .dataTable{
	min-width:100%;

}

.hourlyPrices table.dataTable td, .hourlyPrices table.dataTable th {
    text-align: left;
    padding:5px;
    border-right: 1px solid #b3b2b7;
}

.hourlyPrices table.dataTable td:last-child, .hourlyPrices table.dataTable th:last-child{
	border-right:0;
}

.hourlyPrices table.dataTable th {
	background-color: #d5d5d5 !important;
	padding-right:2em;
}

#hourlyPrices .chart-wrapper {
	overflow:scroll
}


    .dataTable {
        font:11px/1.4 Verdana, Geneva, sans-serif;
        color:#666666;
        border-collapse: collapse;        
    }
    table {
        margin-bottom: 1em;
    }
    #lblText b, #lblText, .lblText{
        color:#666 !important;
    }    
    .rowHeaderDataTable {
        background-color: #d5d5d5 !important;
    }
    .cellLineLabel {
        font-weight: 800 !important;
        white-space:nowrap;
    }
    .dataTable tr td {
        background-color: transparent !important;
        padding:5px !important;
        border-bottom: 1px solid #b3b2b7 !important;
    }
    .dataTable .rowHeaderDataTable, .dataTable .rowHeaderDataTable td  {
        background-color: #d5d5d5 !important;
    }
    body font table font b{
        color: #ffffff !important;
        font-size: 18px;
        font-weight: 400;
        border:0 !important;
    }
    body > font > table td[colspan*="2"] {
        border:0 !important;
        padding:5px;
    }
    .dataTable ,.dataTable td{
        border:0 ;
    }
    center {
        text-align: left;
    }
    #tableView .dataTable {
        background: transparent;
        align-content:center;
    }
    #tableView th {
        background-color: #d5d5d5 !important;
        padding:5px !important;        
    }
/*hourly prices table styles*/  
