.module#cost {
  overflow:hidden;
  .contentContain {
    padding:0;
    p {
      line-height: 1.6;
    }
  }
  .costContain {
    @include viewport(mdlg){
      height:395px;
      .container-fluid {
      padding:0px;
    }
    }
    .container-fluid {
      padding-bottom: 250px;
      padding-top:20px;
    }
    position: relative;

  }
  div#costdonutchart svg >g > path {
    fill:none;
  }
  .graphContain {
        border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
    height:250px !important;
    @include viewport(mdlg){
      height:72% !important;
    }
    position: absolute;
    width:100%;
    bottom:0;
    max-height:none;
    padding: 0 20px;
  }
  .starter-chart {
    height:100% !important;
  }
  .date {
    float: none;
    text-align:left;
  }
    h3 {
    padding: 0;
    font-family: "seroundedbold";
  }
}

#usage .content { min-height: 366px; }
@media (min-width: 1100px) { #usage .content { min-height: 370px; } }