.k-state-focused.k-state-selected, .k-list>.k-state-focused.k-state-selected {
  box-shadow:none !important;
  background-image: none !important;
  background-color:#44b4e6 !important;
  border:0 !important;
  border-radius:0 !important;
}
.k-item {
  padding:5px !important;
  border-radius: 0 !important;
  border:0 !important;
  font-size: 14px !important;
}

.k-state-hover {
  border:0 !important;
  background-image: none !important;
  background-color: #ccc !important;
}
.k-list-container {
  background: white !important;
  border:0 !important;
}



.k-dropdown-wrap.k-state-default{
  background: none !important;
  border: 0 !important;
  box-shadow: none !important;
  color:#7a7b80
}