$snowcolor:#4895D4;
$cloudcolor:#A5A0A0;


h2[class^="se"],
h2[class*="se"] {
        font-family: 'forecastcons' !important;
  font-weight: normal !important;
  font-style: normal !important;
  text-decoration: inherit !important;
  -webkit-font-smoothing: antialiased !important;
  &:before,&:after {
      position:absolute;
    
  }
  span {
    &:before,&:after,&{
      position:absolute;
}
    }
}


.se-sunny {
  &:after {
    content: "\f113";
    color:rgb(255, 165, 0);
  }
}

.se-partly-cloudy {
  /*Cloud */ &:before {
    content: '\f105';
    color:$cloudcolor;
  }
  &:after {
    content: "\f101";
    color:rgb(255, 165, 0);
  }
}

.se-cloudy {
  &:before {
    content: "\f106";
    color:$cloudcolor;
  }
}

.se-dust, .se-smoke, .se-haze, .se-fog {
  &:after {
    content: '\f108';
    color:$cloudcolor;
  }
}

.se-dust {
  &:after {
    color:#A97F19;
  }
}

.se-smoke {
  &:after {
    color:#424242;
  }
}

.se-mostly-sunny {
  &:before {
    content: '\f105';
    color:$cloudcolor;
  }
  &:after {
    content: "\f101";
    color:rgb(255, 165, 0);
  }
}

.se-hot-humid {
  &:after {
    content: "\f113";
    color:rgb(255, 165, 0);
  }
}

.se-very-cold {
  &:after {
    content: "\f102";
    color:#85d8f7;
  }
}

.se-snow-showers {
  &:before {
    content: '\f105';
    color:$cloudcolor;
  }
  span {
    &:before {
    content: "\f10b";
    color:$snowcolor;
  }
    &:after {
      content: "\f101";
      color:rgb(255, 165, 0);
    }
  }
}


.se-drizzle {
  &:before {
    content: '\f105';
    color:$cloudcolor;
  }
  &:after {
    content: "\f10a";
  color: #82b2e4;
  }
}


.se-snow-flurries {
  &:before {
    content: '\f109';
    color:$cloudcolor;
  }
  &:after {
    content: "\f103";
    color:$snowcolor;
  }
}

.se-windy {
  &:before {
    content: '\f105';
    color:$cloudcolor;
  }
  &:after {
    content: "\f115";
    color:$cloudcolor;
  }
}

.se-rain-snow-mix {
  &:before {
    content: '\f105';
    color:$cloudcolor;
  }
  &:after {
    content: "\f10c";
    color:$snowcolor;
  }
}


.se-blizzard {
  &:before {
    content: '\f105';
    color:$cloudcolor;
  }
  &:after {
    content: "\f10b";
    color:$snowcolor;
  }
}


.se-snow-flurries{
  &:before{
    content: '\f109';
    color:$cloudcolor;
  }
  &:after {
    content: "\f103";
    color:$snowcolor;
  }
}

.se-rainy {
  &:before {
    content: '\f105';
    color:$cloudcolor;
  }
  &:after {
    content: "\f107";
    color:#4681c3;
  }
}

.se-snow {
  &:before {
    content: '\f105';
    color:$cloudcolor;
  }
  &:after {
    content: "\f10b";
    color:$snowcolor;
  }
}


.se-thunderstorms {
  &:before {
    content: '\f105';
    color:#000;
  }
  &:after {
    content: "\f114";
    color:rgb(255, 165, 0);
  }
}

.se-sunny {
  &:before {
    content: "\f113";
        color: orange;

  }
}

.se-clear-night {
  &:before {
    content: "\f113";
        color: orange;


  }
}

.se-heavy-rain-showers {
  &:before {
    content: '\f105';
    color:$cloudcolor;
  }
  span {
    &:after {
      content: "\f107";
      color:#4681c3;
    }
    &:before {
      content: "\f101";
      color:rgb(255, 165, 0);
    }
  }
}

.se-sleet-snow-mix {
  &:before {
    content: '\f105';
    color:$cloudcolor;
  }
  &:after {
    content: "\f10c";
    color:$snowcolor;
  }
}

.se-freezing-rain {
  &:before {
    content: '\f105';
    color:$cloudcolor;
  }
  &:after {
    content: "\f10f";
    color:$cloudcolor;
  }
}

.se-sleet-or-freezing-drizzle {
  &:before {
    content: '\f105';
    color:$cloudcolor;
  }
  &:after {
    content: "\f10c";
    color:$snowcolor;
  }
}

