/* IE STYLING */

.k-ie {
	

	.slides, .slides > li,.module#ads .slide-contain, 
	.module#ads .flexslider, .module#ads .slideContent, 
	.module#ads .slides, .flex-viewport, 
	.module#demand .flexslider,
	.modal-body .flexslider,
	.modal-body .starter-chart {
		height: 100%;
	}

	.modal .modal-dialog .modal-body {
		height:500px;
	}


	.modal-table td span, .modal-table td div { max-width: 107px; width: 100% !important; }

	
	#weather .forecast [class^='se-'] {
		margin: 10px auto 44px;
		width:40px;
	}

	#weather {
			h4 {
				font-size:33px; 
			}
		}

	@include viewport(sm){


		#weather {
			.today {
				[class^='se-'] {
					font-size: 11em;

				}
				.se-sunny {
					font-size: 8em;
				}
			}
			h4 {
				font-size:33px; 
			}
		}
	}

	#summaryreport {
		.flexslider {
			height:100%;
		}
	}

	@include viewport(mdlg){
		#weather {

			.today {
				[class^='se-'] {
					font-size: 6em;
			      margin-top: 28px;
			      				margin-bottom:0;


				}
			}
			h4 {
				font-size:30px; 
			}
		}
	}


	@include viewport(xl){
		#weather {
			h4 {
				font-size: 33px;
				margin-top: 0px;
				margin-left: 0px;
			}
			.today [class^="se-"]{
				font-size: 9.25em;
			}
		}
	}
}