#linechartDay {
  svg {
    > g {
      > path {
        fill:transparent;
      }
    }
  }
}

.modal {
.flexslider:hover .flex-direction-nav {
   .flex-next{
      right:20px
    }
    .flex-prev{
      left:20px
    }
}
  #divBusy-placeholder {
    top: 50%;
    margin: -80px 0 0 -123px;
  }

  .modal-dialog {
    width:90%;
    max-width:900px;
    .modal-body {
      &.extend {
      height:500px;

      }
      height:430px;
      border-bottom-right-radius: 20px;
      border-bottom-left-radius: 20px;

    }
  }

}

.modal-title {
    font: normal normal 24px 'seroundedregular';
    font-weight: bold;
}

.module {
  .currentViewWrapper {
    margin-right:0;
    margin:.35em 0;
    .tooltip-inner {
      min-width:140px;
    }
    span.fa-stack{
      font-size:9px;
      margin-left: .6em;
    }
  }
}

.currentViewWrapper {
      display: inline-block;
    float: right;
    margin-right: 2em;
    p {
      font-size: 12px;
      span {
        font-size: 9px;
        cursor:pointer;
        @include transition(.3s all);
        color:$lightBlue;
        &:hover {
          color:rgba($lightBlue,.8);
        }
        &.active {
          color:  $primary;
          cursor:default;
          &:hover {
            color:$primary;
          }
        }
      }
    }
}

.dateWrapper {
      text-align: center;
    padding: 10px 0;
    background: #ddd;
    font-size: 18px;
    font-family: 'seroundedregular';
}

.modal-dialog {
  .flexslider {
    &:hover {

      .flex-prev {
        left:20px;
        @include opacity(1);

      }
      .flex-next {
        right:20px;
        @include opacity(1);

      }
    }
  }

  .flex-direction-nav {
      a {
      top: 35px;
      font-size: 20px;
      @include opacity(1);
      &:before {
        text-shadow:none;
        color:$primary;
        font-size: inherit;
      }
      &:hover {
        &:before {
        color:$green;
      }
        @include opacity(1);

      }
      &.flex-prev {
        left:20px
      }
      &.flex-next {
        right:20px
      }
    }
  }
  .close {
    color:red;
    @include opacity(1);
    &:hover {
      @include opacity(.8);
    }
  }
  border:solid 5px #323232;
  box-shadow:0 0 10px rgba(black,8);
  border-radius:6px;
  .modal-content {
    box-shadow:none;
    background:#f9f9f9;
    .modal-header {
      box-shadow: 0 1px 3px rgba(0,0,0,.2);
    }
  }
}
.modal-body {
  background: #f9f9f9;
}
.modal-table  {
  width:100%;
  .week-header {
    td {
      padding: 8px 0;
      background: #efefef;
      &:hover {
        transform:none;
        background: #efefef;
        box-shadow:none;
      }
    }
  }
  td {
    cursor:pointer;
    padding:0px;
    border: solid 1px #E4E4E4;

    a {
      text-align: center;
      height: 63px;
      width: 100%;
      position: relative;
      display: inline-block;
      @include transition(.3s all);
      &.cellEnabled {
        margin-right: -1px;
        &:hover {
          transform:scale(1.5);
            background: white;
            z-index: 900;
            position: relative;
            box-shadow: 0 0 3px rgba(0, 0, 0, 0.25);
        }
      }

    }
        svg > g path {
        fill: none;
    }
    
    @include rowGrid(7,0);
    text-align: center;
    span,div {
      width:100% !important;
      &:first-child {
        font-family:'seroundedregular';
        font-size: 12px;
        color:$primary;
        margin-bottom: 5px;
        display: inline-block;

      }
    }
   
    
  }
}

.calendar-text { margin-top: .3em; }

