.module {
   .flexslider {
     @include viewport(mdlg){
      height: 100%;
    }
   }
  @include viewport(mdlg){
    height:100%;
  }
  .form-control {
    margin:.25em 0 0;
  }
  position: relative;
  box-shadow: 0 5px 3px rgba(0, 0, 0, 0.14);
  background: white;
  border-radius: 5px;
  background: #fff url(./Art/en/bg-tile-blocktop-blue.gif) repeat-X top left;
  > h2 {
    padding: 11px 20px 8px;
    font: normal normal 18px 'seroundedregular';
    border-bottom: 1px solid #eaeaea;
    font-weight: bold;
    line-height: 1.5;
    .more {
      float:right;
      p{
        margin: 0;
        vertical-align: middle;
        line-height: 2.5;
        font-weight: 100;
        font-size: 12px;
        cursor:pointer;
        a {
          color:$blue;
        }
        span {
          color:$blue;
          font-size: 9px;
          margin:1em;
        }
      }
    }
  }
  h3 {
    color:$dark;
    font-size: 22px;
    line-height: 1;
    font-weight: 600;
    margin-bottom: 8px;
  }
  .moduleFooter {
    height:55px;
    display: table;
    width:100%;
    > div {
      display:table-cell;
      vertical-align:middle;
      padding:0 20px;
      p,a {
        font-size: 11px;
      }
      a {
        color:$blue;
      }
      p {
        color:#8e9799;
      }
    }
  }
  .content {
    padding: 0 10px 20px;
    min-height: 120px;
    
    p.date {
      text-align: center;
      font-family: "seroundedbold";
      margin: 1em 0;
    }
    p {
      margin-bottom: 0;
    }
  }
  .graphContain {
    background: $neutral;
    padding:20px 10px;
    max-height:200px;
    overflow: hidden;
    img {
      max-width:300px;
      width:100%;
    }
  }
  .contentContain {
    /*@include viewport(sm){
      height: 100%;
    }*/
    padding:20px 0;
    p {
      font-size: 11px;
    }
    .orangeScore {
      color:$orangeScore;
    }
    .greenScore {
      color:$greenScore;
    }
    .blue {
      color:$blue;
    }
  }
}

.main-contain {
  .module {
    .content {
    @include viewport(mdlg){
      min-height:370px
    }
  }
  }
}