* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  background-color: #d5d5d5;
}


.cf:before,
.cf:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.cf:after {
  clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
 .cf {
  *zoom: 1;
}


/* RESPONSIVE IMAGES */

img {
  max-width: 100%; // Make images inherently responsive
  height: auto; // Adds support for images whose dimensions are defined inline
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;

  .lt-ie9 & {
    width: auto;
  } 
}

/* MAIN */


.innerContent {
  background: white;
  padding:15px;
}



.row.first {
  .module{
    margin-top:0;
  }
}

#costErrorLabel {
  position: absolute;
  top:15px;
}

#understanding {
  p {
    margin-bottom: .75em;
     a {
      margin-left: 1em;
     }
  }
}

#energyTips {
  .slideContent{
    margin-top: 3em;
    .content {
      @include viewport(sm){
        margin:-1em 0 0;
      }
      @include viewport(md){
        margin:3em 0 0;
      }
      border-top: solid 1px white;
      border-bottom: solid 1px white;
      h5 {
        color:$blue;
        font-weight: 100;
        font-size: 18px;
      }
      p {
        font-weight: 100;
        font-size: 12px;
        line-height: 1.6;
      }
    }
  }
  p {
    color:white;
  }
  overflow: hidden;
  .container-fluid {
    padding:0;
    margin: 0;
  }
  .row {
    background-size: cover;
    background-position: center;
    padding: 1em;
  }
}


#statistics {
  ul {
    margin-bottom: 0;
  }
  .fa-stack.fa-lg{
    @include viewport(sm){
      float:left;
    margin-right: .5em;
    }
    font-size: 2.5em;

  }
  .fa-circle {
    color: $schneiderGreen;
  }
  li {
    text-align: center;
    @include viewport(sm){
      text-align: left;
    }
    margin-bottom: 1em;
    h5,p {
      margin:0;
      vertical-align:middle;
    }
    h5 {
      font-size: 18px;
      margin: 10px 0 0;
      font-weight: 800;
    }
    p {
      font-size: 14px;
    }
  }
}

#reccomendations {
  .contentContain {
    background: #f1f1f1;
  }
  p.img {
    text-align: center;
    width:100%;
    display: inline-block;
  }
  img{
    text-align: center;
  }
  h5 {
    font-size: 18px;
    margin-bottom: 1em;
  }
  p,a {
    margin: 0 0 2em;
    font-size: 13px;
  }
}





.placeholder {

width:25px; height:20px; padding:1px; background:white;padding-bottom:0px
}


.starter-chart {
  height:275px !important;
  width:100% !important;
  @include viewport(mdlg){
    height:80% !important;
  }
}






.summaryReport {
  min-height:940px;
}

.loading {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  margin: -10px 0 0 -10px;
}

.flexslider {
  z-index:2;
}


#divBusy-placeholder {
  &.mainLoader {
    top:50%;
    margin:-80px 0 0 -123px;
  }
  display:block;
  position:absolute;
  z-index:50;
  background:rgb(235,235,235);
  padding:50px 75px;
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  border-radius:5px;
  -webkit-background-clip:padding-box;
  -moz-background-clip:padding;
  background-clip:padding-box;
  box-shadow:0 3px 4px rgba(0,0,0,0.4);
  background-image:-moz-linear-gradient( bottom, rgb(235,235,235) 0%, rgb(255,255,255) 100%);
  background-image:-webkit-linear-gradient( bottom, rgb(235,235,235) 0%, rgb(255,255,255) 100%);
  background-image:-ms-linear-gradient( bottom, rgb(235,235,235) 0%, rgb(255,255,255) 100%);
  border:1px solid #fff;
  top:120px;
  left:50%;
  margin:0 0 0 -123px;
}
#divBusy-placeholder i {
  display:block;
  margin:8px;
}

.chart {
  .content {
    @include viewport(mdlg){
      height:85%;

    }
  }
}




.flex-direction-nav a {
  overflow:visible;
  height:auto;
  width:auto;
  &:before {
    font-size: 30px;
  }
}


.modal-backdrop.in {
    opacity: .8;
    filter: alpha(opacity=80);
}

.k-tooltip {
  th,td {
    color:white;
  }
  th {
    font-size: 12px !important;
  }
  td {
    font-size: 10px !important;
  }
}

#login-page section#introduction .loadingImg {
 background:url('./Art/en/loading-img.png') no-repeat right 18px;
 }


