


/* -------------------------------------
 * Columns
 * ------------------------------------- */


div[class*="col"]{
  float:left;

}


.main-contain,.sidebar {
  width:100%;
  @include viewport (sm){
    float:left;
  }
}




.contain {
  @include viewport(mdlg){
    @include calc(height, "100% - #{20px}");
  }
}

.main-content {
  max-width:1600px;
  @include viewport (mdlg){
  max-height:980px;
  }
  margin:auto;
  @include viewport(mdlg){
    width:100%;
    min-height:940px;
  }
  position: relative;
  padding:10px;
  .row-fluid,.main-contain {
    @include viewport(mdlg){
      height:100%;

    }
    margin:0;
    padding:0;
    > .row-fluid, .sidebar > .row-fluid, .sidebar ,.col-sm-9 {
      @include viewport(mdlg){
        height:100%;
      }
    }
    .first,.second {
      @include viewport(mdlg){
        height:50%;
      }
    }
    
  }
  .main-contain {
    .module {
      .contain {
        height:auto;
        @include viewport(md){
          height:500px;
        }
        @include viewport(mdlg){
          height:85%;
        }
      }
    }
    @include viewport(md){
      width:60%;
    }
    @include viewport(mdlg){
      width:75%;
    }
  }
  .sidebar {
    height:100%;
    @include viewport(md){
      width:40%;
    }
    @include viewport(mdlg){
      width:25%;
    }
    .contain{
      .contentContain {
        min-height: 260px;
        @include viewport(mdlg){
          min-height: 0;
        }
      }
      @include viewport(mdlg){
        @include calc(height, "33.3333333% - #{20px}");
      }
    }
  }
}

.contain {
  margin:10px;
}

.col-4,.col-6,.col-12{
  @include calc(width, "100% - #{20px}");
}

@include viewport(sm){
  .col-4 {
    @include calc(width, "33.3333% - #{20px}");
  }

  .col-6 {
    @include calc(width, "100% - #{20px}");
  }

  .col-12 {
    @include calc(width, "50% - #{20px}");
  }

}
@include viewport(md){
  .col-12 {
    @include calc(width, "100% - #{20px}");
  }
}
@include viewport(mdlg){
  .col-6 {
    @include calc(width, "50% - #{20px}");
  }

}

