// COLOR PALETTE
$primary: #7a7b80;
$secondary: #44b4e6;
$hover: #505050;
$neutral: #ebebeb;
$highlight: #306DB1;
$ultralight: #537FB1;
$schneiderGreen: #32ae3c;
$green: #4cbb6f;
$yellow: #fdbf2d;
$blue: #42b4e8;
$dark: #42494c;
$red: #ba0007;
$orangeScore: #e57f01;
$greenScore:#009531;
$darkBlue: #336799;
$lightBlue: #1da1e8;
$textHeadline: #626469;
// FONT STACKS
$heading: Arial, 'Helvetica Neue', Helvetica, sans-serif;
$body: Arial, 'Helvetica Neue', Helvetica, sans-serif;
$bold:'seroundedbold';

