#weather {
overflow:hidden;
  hr {
    margin:3px 0;
  }
  .meta {
    padding-right:0;
    @include viewport(sm){
    }
    
    p {
      font-size: 10px !important

    }
  }
  .today {
    [class^="se-"] {
      font-size: 110px;
      @include viewport(mdlg){
        font-size: 9em;
      }
      margin: 28px 0 20px -28px;
    }
  }
  h5 {
    font-size: 14px;
    font-weight: 800;
    margin-bottom: 1em;
    color:$textHeadline;
  }
  .forecast {
    background: $neutral;
    padding:8px;
    position: absolute;
    width:100%;
    bottom:0;
    .temp {
      font-size: 11px !important;
    }

    .day,.temp {
      text-transform: uppercase;
    }
    [class^="se-"]{
      font-size: 40px;
      margin: 10px 0 39px -47px;
    }
    ul{
      text-align: center;
      margin-bottom: 0;
    }
    li {
      @include rowGrid(5,1%);
      display: inline-block;
      float:left;
      img {

      }
      &:after {
        content:none;
      }
    }
  }
  p {
    margin: 0;
  }
  h4 {
    font-size: 33px;
    font-weight: 800;
    color:$textHeadline;
    margin: 0;
    line-height: 1;
    sup {
      font-size: 45%;
      top:-1em;
    }
  }
  ul {
    li {
      display: inline;
      &.active {
        p {
          color:blue;
        }
      }
      &:after {
        content:"|";
        margin-left: .5em;
        display: inline-block;
      }
      &:last-child{
         &:after {
        content:none;
      }
      }
    }
  }
@include viewport(mdlg) {
    h4 {
      font-size: 33px;
      margin-top: 10px;
      margin-left: -20px;
    }
    .today [class^="se-"]{
      font-size: 6em;
      margin-top: 24px;
    }
  }
  @include viewport(xl){
    h4 {
      font-size: 33px;
      margin-top: 0px;
      margin-left: 0px;
    }
    .today [class^="se-"]{
      font-size: 9em;
      margin-top: 28px;
    }
  }
}

