[class^="se-"], [class*=" se-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'se-weathercons' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


.se-clear-night:before {
    content: "\e900";
}
.se-cloudy:before {
    content: "\e901";
}
.se-drizzle:before {
    content: "\e902";
}
.se-dust:before {
    content: "\e903";
}
.se-fog:before {
    content: "\e904";
}
.se-freezing-rain:before {
    content: "\e905";
}
.se-haze:before {
    content: "\e906";
}
.se-heavy-rain:before {
    content: "\e907";
}
.se-heavy-rain-showers:before {
    content: "\e908";
}
.se-light-rain:before {
    content: "\e909";
}
.se-light-rain-showers:before {
    content: "\e90a";
}
.se-mostly-sunny:before {
    content: "\e90b";
}
.se-partly-cloudy:before {
    content: "\e90c";
}
.se-rain-snow-mix:before {
    content: "\e90d";
}
.se-rainy:before {
    content: "\e90e";
}
.se-sleet-or-freezing-drizzle:before {
    content: "\e90f";
}
.se-sleet-snow-mix:before {
    content: "\e910";
}
.se-blizzard:before {
    content: "\e911";
}
.se-smoke:before {
    content: "\e912";
}
.se-snow:before {
    content: "\e913";
}
.se-snow-flurries:before {
    content: "\e914";
}
.se-snow-showers:before {
    content: "\e915";
}
.se-snowy:before {
    content: "\e916";
}
.se-sunny:before {
    content: "\e917";
}
.se-thunderstorms:before {
    content: "\e918";
}
.se-thundery-showers:before {
    content: "\e919";
}
.se-windy:before {
    content: "\e91a";
}